[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/echofunc"]
	path = bundle/echofunc
	url = https://github.com/mbbill/echofunc.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
