snippet tr "new transaction"
`date +%Y`-${2:`date +%m`}-${1:`date +%d`} * "${3}" "${4}"
	${5} ${6} CNY
	${7} ${8} ${0}
endsnippet

snippet td "today"
`date +%Y`-${2:`date +%m`}-${1:`date +%d`} ${3}
endsnippet
